<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>Legacy - Classic Rock on the North Shore</h1>
      <p>Having played together for nealry 40 years, we are one of the premier classic rock cover bands on the north of Boston. Please check out our <%= link_to 'music', "#music" %> below, see us at our <%= link_to 'next gig', "#gigs" %>, and follow us on <%= link_to 'Facebook', "https://facebook.com/legacyrockandroll" %> !</p>
    </div>
  </div>
</div>
