<ul class="bullets">

  <li class="bullet three-col-bullet">
    <div class="bullet-content">
      <h2>About Legacy</h2>
      <p>We are a classic rock band, playing songs from the 1960s up through the 1980s. Many of us have been playing together for nearly forty years, and love to see people having as much fun dancing as we are playing! Please come down and check us out at our <%= link_to 'next show', "#gigs" %> and don’t forget to like us on <%= link_to 'Facebook', "https://www.facebook.com/legacyrockandroll" %>!</p>
    </div>
  </li>

  <li class="bullet three-col-bullet">
    <div class="bullet-content">
      <h2>Book Legacy</h2>
        <p>If you interested in booking us please contact Tim Patterson (978-927-7448) or Chuck Delisle (781-913-1395). You can also contact us via <%= link_to 'email', "mailto:tim.patterson1@comcast.net" %>.
    </div>
  </li>

  <li class="bullet three-col-bullet">
    <div class="bullet-content">
      <h2>See Legacy</h2>
    </div>
  </li>

</ul>
