<div class="grid-items">

  <a href="javascript:void(0)" class="grid-item chuck">
    <img src="/assets/LegacyTest.jpg" alt="Chucky Bass">
    <h1>Chuck Delisle</h1>
    <p>Bass Guitar</p>
  </a>

  <a href="javascript:void(0)" class="grid-item grid-item-big grid-item-image legacy">
    <h1>Legacy</h1>
    <p>Playing classic rock on the North Shore for 40 years!</p>
  </a>

  <a href="javascript:void(0)" class="grid-item grid-item-big vinny">
    <%= image_tag("/assets/LegacyVin.jpg") %>
    <h1>Vinny Raponi</h1>
    <p>Lead Vocals</p>
  </a>

  <a href="javascript:void(0)" class="grid-item freddy">
    <img src="/assets/LegacyFreddy.jpg" alt="Freddy Drums">
    <h1>Freddy Something</h1>
    <p>Drums</p>
  </a>

  <a href="javascript:void(0)" class="grid-item ricky">
    <img src="/assets/LegacyRick.jpg" alt="Ricky Guitar">
    <h1>Rick Legere</h1>
    <p>Guitar</p>
  </a>

  <a href="javascript:void(0)" class="grid-item tim">
    <img src="/assets/LegacyTim.jpg" alt="Tim Keyboards">
    <h1>Tim Patterson</h1>
    <p>Keyboards</p>
  </a>

  <a href="javascript:void(0)" class="grid-item danny">
  <img src="/assets/LegacyRick.jpg" alt="Danny Guitar">
    <h1>Danny Legere</h1>
    <p>Guitar</p>
  </a>

</div>
