<h2>The Band</h2>

<ul class="member-container">
  <li class="member">
    <img src="/assets/LegacyTest.jpg">
    <h5>Chuck Delisle</h5>
  </li>

  <li class="member">
    <img src="/assets/LegacyTim.jpg">
    <h5>Tim Patterson</h5>
  </li>

  <li class="member">
    <img src="/assets/LegacyFreddy.jpg">
    <h5>Freddy Something</h5>
  </li>

  <li class="member">
    <img src="/assets/LegacyRick.jpg">
    <h5>Ricky Legere</h5>
  </li>

  <li class="member">
    <img src="/assets/LegacyVin.jpg">
    <h5>Vinny Raponi</h5>
  </li>

  <li class="member">
    <img src="/assets/LegacyTest.jpg">
    <h5>Danny Legere</h5>
  </li>
</ul>
