<ul class="grid">
          <li>
            <div class="item">
              <div class="info-wrap">
                <div class="info">
                  <div class="info-front img-1"></div>
                  <div class="info-back">
                    <h3>Chuck Delisle</h3>
                    <p>Bass Guitar/Vocals</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item">
              <div class="info-wrap">
                <div class="info">
                  <div class="info-front img-2"></div>
                  <div class="info-back">
                    <h3>Tim Patterson</h3>
                    <p>Keyboards</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item">
              <div class="info-wrap">
                <div class="info">
                  <div class="info-front img-3"></div>
                  <div class="info-back">
                    <h3>Carl Fried</h3>
                    <p>Drums</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item">
              <div class="info-wrap">
                <div class="info">
                  <div class="info-front img-4"></div>
                  <div class="info-back">
                    <h3>Rick Legere</h3>
                    <p>Guitar/Vocals</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item">
              <div class="info-wrap">
                <div class="info">
                  <div class="info-front img-5"></div>
                  <div class="info-back">
                    <h3>Vinnie Raponi</h3>
                    <p>Lead Vocals</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item">
              <div class="info-wrap">
                <div class="info">
                  <div class="info-front img-6"></div>
                  <div class="info-back">
                    <h3>Danny Legere</h3>
                    <p>Guitar</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
<!--<ul class="member-container">

  <li class="item">
    <div class="member member-chuck">
      <div class="info-container">
        <div class="info">
          <div class="front member-chuck">
          </div>
          <div class="info-back">
            <h4>Chuck Delisle</h4>
            <h6>Bass Guitar/Vocals</h6>
          </div>
        </div>
      </div>
    </div>
  </li>

  <li class="item">
    <div class="member member-chuck">
      <div class="info-container">
        <div class="info">
          <div class="front member-chuck">
          </div>
          <div class="info-back">
            <h4>Chuck Delisle</h4>
            <h6>Bass Guitar/Vocals</h6>
          </div>
        </div>
      </div>
    </div>
  </li>

  <li class="item">
    <div class="member member-chuck">
      <div class="info-container">
        <div class="info">
          <div class="front member-chuck">
          </div>
          <div class="info-back">
            <h4>Chuck Delisle</h4>
            <h6>Bass Guitar/Vocals</h6>
          </div>
        </div>
      </div>
    </div>
  </li>

  <li class="item">
    <div class="member member-chuck">
      <div class="info-container">
        <div class="info">
          <div class="front member-chuck">
          </div>
          <div class="info-back">
            <h4>Chuck Delisle</h4>
            <h6>Bass Guitar/Vocals</h6>
          </div>
        </div>
      </div>
    </div>
  </li>

  <li class="item">
    <div class="member member-chuck">
      <div class="info-container">
        <div class="info">
          <div class="front member-chuck">
          </div>
          <div class="info-back">
            <h4>Chuck Delisle</h4>
            <h6>Bass Guitar/Vocals</h6>
          </div>
        </div>
      </div>
    </div>
  </li>

  <li class="item">
    <div class="member member-chuck">
      <div class="info-container">
        <div class="info">
          <div class="front member-chuck">
          </div>
          <div class="info-back">
            <h4>Chuck Delisle</h4>
            <h6>Bass Guitar/Vocals</h6>
          </div>
        </div>
      </div>
    </div>
    </li>-->
