<ul class="member-container">

  <li class="member">
  <!--<%= button_to 'Add Member', new_member_path, method: :get %>-->
    <img src="/assets/LegacyTest.jpg">
    <h4>Chuck Delisle</h4>
    <h6>Bass Guitar/Vocals</h6>
  </li>

  <li class="member">
    <img src="/assets/LegacyTim.jpg">
    <h4>Tim Patterson</h4>
    <h6>Keyboards</h6>
  </li>

  <li class="member">
    <img src="/assets/LegacyFreddy.jpg">
    <h4>Carl Fried</h4>
    <h6>Drums</h6>
  </li>

  <li class="member">
    <img src="/assets/LegacyRick.jpg">
    <h4>Ricky Legere</h4>
    <h6>Guitar/Vocals</h6>
  </li>

  <li class="member">
    <img src="/assets/LegacyVin.jpg">
    <h4>Vinnie Raponi</h4>
    <h6>Lead Vocals</h6>
  </li>

  <li class="member">
    <img src="/assets/LegacyTest.jpg">
    <h4>Danny Legere</h4>
    <h6>Guitar</h6>
  </li>
</ul>
