<h2>Meet the Band</h2>

<ul class="member-container">
  <li class="member">
    <img src="/assets/LegacyTest.jpg">
    <h5>Firstname Lastname</h5>
  </li>

  <li class="member">
    <img src="/assets/LegacyTest.jpg">
    <h5>Firstname Lastname</h5>
  </li>

  <li class="member">
    <img src="/assets/LegacyTest.jpg">
    <h5>Firstname Lastname</h5>
  </li>

  <li class="member">
    <img src="/assets/LegacyTest.jpg">
    <h5>Firstname Lastname</h5>
  </li>

  <li class="member">
    <img src="/assets/LegacyTest.jpg">
    <h5>Firstname Lastname</h5>
  </li>

  <li class="member">
    <img src="/assets/LegacyTest.jpg">
    <h5>Firstname Lastname</h5>
  </li>
</ul>
