<div class="next-gig">

  <div class="gig-info">
    <h4 class="venue">Capone's Restaurant</h4>
    <h5 class="address">123 Main St., Peabody, MA</h5>
    <h6 class="date">Month and Day @ 8:00pm</h6>
    <p class="info">Addional info such as cover and stuff</p>
  </div>

  <div>
  </div>

</div>
