<h2>The Music</h2>

<ul class="video-container">

  <li class="video">
    <iframe src="http://www.youtube.com/embed/J-ahyg8VNJE" frameborder="0" allowfullscreen></iframe>
  </li>

  <li class="video">
    <iframe src="http://www.youtube.com/embed/UCUgWdsenGs" frameborder="0" allowfullscreen></iframe>
  </li>

  <li class="video">
    <iframe src="http://www.youtube.com/embed/Jq_wIEe8HG4" frameborder="0" allowfullscreen></iframe>
  </li>

</ul>
