<ul class="video-container slider single-item">

  <li class="video">
    <iframe src="http://www.youtube.com/embed/J-ahyg8VNJE" frameborder="0" allowfullscreen></iframe>
  </li>

  <li class="video">
    <iframe src="http://www.youtube.com/embed/UCUgWdsenGs" frameborder="0" allowfullscreen></iframe>
  </li>

  <li class="video">
    <iframe src="http://www.youtube.com/embed/Jq_wIEe8HG4" frameborder="0" allowfullscreen></iframe>
  </li>

  <li class="video">
    <iframe src="http://www.youtube.com/embed/wWLNWtfwH00" frameborder="0" allowfullscreen></iframe>
  </li>

  <li class="video">
    <iframe src="http://www.youtube.com/embed/vnQSDeDSw4s" frameborder="0" allowfullscreen></iframe>
  </li>

</ul>
