<h2>The Music</h2>

<ul class="video-container">
  <li class="video">
    <iframe width="325" height="230" src="http://www.youtube.com/embed/J-ahyg8VNJE"></iframe>
  </li>

  <li class="video">
    <iframe width="325" height="230" src="http://www.youtube.com/embed/UCUgWdsenGs"></iframe>
  </li>

  <li class="video">
    <iframe width="325" height="230" src="http://www.youtube.com/embed/Jq_wIEe8HG4"></iframe>
  </li>
</ul>
