<ul class="nav-links">
  <li class="nav-link"><a href="#about">About</a></li>
  <li class="nav-link"><a href="#band">The Band</a></li>
  <li class="nav-link"><a href="#music">The Music</a></li>
  <li class="nav-link"><a href="#gigs">Gigs</a></li>
  <li class="nav-link"><a href="https://www.facebook.com/legacyrockandroll">Facebook</a></li>
<ul>
