<ul class="navigation">
  <li class="nav-link"><a href="#welcome">Welcome</a></li>
  <li class="nav-link"><a href="#band">The Band</a></li>
  <li class="nav-link"><a href="#music">The Music</a></li>
  <li class="nav-link"><a href="#gigs">Gigs</a></li>
<ul>

<ul class="social">
  <li class="nav-link">Facebook</li>
  <li class="nav-link">Email</li>
  <li class="nav-link">Phone</li>
<ul>
