.band {

  .member-container {
    display: block;
    text-align: center;

    .member {
      display: inline-block;
      padding: 4.5em;
    }

    img {
      height: 11em;
      width: 11em;
      border: 0.4em solid $blue;
      border-radius: 5.5em;
    }

    img:hover {
      border: 0.2em solid coral;
    }
  }
}
