.band {

  .member-container {
    display: block;
    text-align: center;

    .member {
      display: inline-block;
      padding: 5em;
    }

    img {
      height: 10em;
      border: 0.5em solid $blue;
      border-radius: 1em;
    }

    img:hover {
      border: 0.5em solid coral;
    }
  }
}
