.gigs {
  .next-gig {
    display: block;
    text-align: center;

    .gig-info {
      display: inline-block;
      padding: 3em;
      text-align: left;
      float: left;

      h4, h5, h6, p {
        line-height: 2em;
      }
    }
  }
  iframe {
    border: 0.5em solid $legacy-blue;
    border-radius: 0.2em;
  }
}
