.music {

  .video-container {
    display: block;
    text-align: center;
    padding: 3em 0 0 0;

    .video {
      display: inline-block;
    }

    iframe {
      border: 0.75em solid $legacy-blue;
      border-radius: .2em;
      height: em(360);
      width: em(640);
    }
  }
}
