.nav-bar {
  background-color: $legacy-white;
  width: 100%;
  height: 5em;
  margin-bottom: -5em;
  box-shadow: 0 0.25em 0.5em black;
  text-align: center;
  position: relative;
  z-index: 150;

  li {
    display: inline;
    color: white;

    a {
      line-height: 5em;
      padding: 0 1em 0 1em;
      &.active {
        border-bottom: 1px solid $blue;
        border-width: medium;
        padding-bottom: 0.5em;
      }
    }
  }
}

.nav-bar-scrolled {
  width: 100%;
  position: fixed;
  top: 0;
}
